@using System.Collections;
@using System.Collections.Generic;
@using Newtonsoft.Json;
@model HiLToysViewModel.OrderViewModel
@{
    ViewBag.Title = "Order Entry Detail";

    ArrayList orderDetails = new ArrayList();

    foreach (var item in Model.OrderDetailProductResults)
    {
        var orderDetail = new
        {
            ProductID = item.ProductID,
            ProductName = item.ProductName,
            Quantity = item.Quantity,
            UnitPrice = item.UnitPrice,
            QuantityPerUnit = item.QuantityPerUnit,
            Discount = item.Discount
           
            
          
        };

        orderDetails.Add(orderDetail);
    }

}

<h4>Order Entry Detail</h4>

<div style="float:left; width:150px; height:25px; text-align:right;" class="field-label">Order Number:&nbsp;</div>
<div style="float:left; width:150px; height:25px; font-weight:bold; ">&nbsp;@Model.OrderDetailProductResults[0].OrderID</div>
<div  style="float:left; width:150px; height:25px; text-align:right; " class="field-label">Customer ID:&nbsp;</div>
<div style="float:left; width:150px; height:25px; ">&nbsp;@Model.OrderDetailProductResults[0].CustomerID</div>

<div style="clear:both;"></div>

<div style="float:left; width:150px; text-align:right; height:25px;" class="field-label">Order Date:&nbsp;</div>
<div style="float:left; width:150px; height:25px; ">&nbsp;@Model.OrderDetailProductResults[0].OrderDate.ToShortDateString()</div>
<div style="float:left; width:150px; height:25px; text-align:right;" class="field-label">First Name:&nbsp;</div>
<div style="float:left; height:25px; ">&nbsp;@Model.OrderDetailProductResults[0].FirstName</div>
<div style="float:left; width:150px; height:25px; text-align:right;" class="field-label">Last Name:&nbsp;</div>
<div style="float:left; height:25px; ">&nbsp;@Model.OrderDetailProductResults[0].LastName</div>

<div style="clear:both;"></div>

<!--====== Container ======-->
<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr class="DataGridHeader">
        <td style="width:10%; height:25px">Product ID</td>
        <td style="width:30%">Product Description</td>
        <td style="width:10%">Quantity</td>
        <td style="width:10%">Unit Price</td>
        <td style="width:15%">UOM</td>
        <td style="width:10%">Discount</td>
        <td style="width:15%">Edit Options</td>
    </tr>
    <tbody data-bind='template: {name: "OrderDetailTemplate", foreach: LineItems}'> </tbody>
</table>


<div data-bind="visible: AddNewLineItem">
    <table style="width: 100%">
        <tr>
            <td style="width: 10%">
                <input id="ProductID" type="text" value="" onkeypress="ProductIDEntered(this,event);" style="width: 50px" />&nbsp;
                <img alt="Product Inquiry" title="Product Inquiry" style="vertical-align:middle" width="20px" height="20px" onclick="ShowProductInquiryModal()" src="@Url.Content("~/Content/Images/search3.gif")" />
            </td>
            <td style="width: 30%">
                <span id="ProductName"></span>
            </td>
            <td style="width: 10%">
                <input id="Quantity" type="text" value="" style="width: 50px" />
            </td>
            <td style="width: 10%">
                <span id="UnitPrice"></span>
            </td>
            <td style="width: 15%">
                <span id="QuantityPerUnit"></span>
            </td>
            <td style="width: 10%">
                <input id="Discount" type="text" value="" style="width: 50px" />
            </td>
            <td style="width: 15%">
                <img alt="save" title="Add item to order" onclick="AddNewLineItem()" src="@Url.Content("~/Content/Images/icon-floppy.gif")" />
            </td>
        </tr>
    </table>
</div>

<div style="padding: 20px 10px 10px 10px;">
    <input id="btnAdd" type="button" onclick="ShowAddLineItem()" value="Add Line Item" />
    <input id="btnOrderHeader" type="button" onclick="ShowOrderHeader()" value="Order Header" />

</div>
<div style="float:left; width:850px; height:25px; text-align:right;" class="field-label">Total Order:&nbsp;</div>
<div style="float: right; height: 25px; ">&nbsp;@Model.OrderDetailProductResults[0].LastName</div>

<div id="dialog-modal" title="Product Inquiry">
    <div id="ProductInquiryModalDiv">
    </div>
</div>

<div id="OrderDetailsData" style="visibility: hidden; display: none">
    @Html.Raw(Json.Encode(orderDetails));
</div>

@Html.Hidden("OrderID", Model.OrderDetailProductResults[0].OrderID)

<!--====== Template ======-->
<script type="text/html" id="OrderDetailTemplate">

    <tr data-bind="style: { background: viewModel.SetBackgroundColor($data) }">

        <td style="height:25px"><div data-bind="text: ProductID"></div></td>
        <td><div data-bind="text: ProductName "></div></td>
        <td>
            <div data-bind="text: Quantity, visible: DisplayMode "></div>
            <div data-bind="visible: EditMode">
                <input type="text" data-bind="value: Quantity" style="width: 50px" />
            </div>
        </td>

        <td><div data-bind="text: UnitPrice"></div></td>
        <td><div data-bind="text: QuantityPerUnit "></div></td>
        <td>
            <div data-bind="text: Discount, visible: DisplayMode "></div>
            <div data-bind="visible: EditMode">
                <input type="text" data-bind="value: Discount" style="width:50px" />
            </div>
        </td>
        <td>
            <div data-bind="visible: DisplayDeleteEditButtons">
                <div style="width:25px; float:left"><img alt="delete" data-bind="click: function() { viewModel.DeleteLineItem($data) }" title="Delete item" src="@Url.Content("~/Content/Images/icon-delete.gif")" /></div>
                <div style="width:25px; float:left"><img alt="edit" data-bind="click: function() { viewModel.EditLineItem($data) }" title="Edit item" src="@Url.Content("~/Content/Images/icon-pencil.gif")" /></div>
            </div>
            <div data-bind="visible: DisplayCancelSaveButtons">
                <div style="width:25px; float:left"><img alt="save" data-bind="click: function() { viewModel.UpdateLineItem($data) }" title="Save item" src="@Url.Content("~/Content/Images/icon-floppy.gif")" /></div>
                <div style="width:25px; float:left"><img alt="cancel edit" data-bind="click: function() { viewModel.CancelLineItem($data) }" title="Cancel Edit" src="@Url.Content("~/Content/Images/icon-pencil-x.gif")" /></div>
            </div>
        </td>
    </tr>

</script>

<div id="MessageBox" data-bind="html: MessageBox"></div>


<div id="DeleteConfirmation" style="visibility:hidden">
    <div id="dialog-confirm" title="Delete Confirmation?">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            <span id="DeleteConfirmationText"></span>
        </p>
    </div>
</div>


<form id="OrderEdit" method="post" action="/Orders/OrderEdit">
    <input id="OrderID" name="OrderID" type="hidden" />
</form>

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/Orders/OrderEntryDetail.js"></script>
    <script type="text/javascript">
        viewModel.IntializeLineItem(@Html.Raw(JsonConvert.SerializeObject(orderDetails, new JsonSerializerSettings { ReferenceLoopHandling = ReferenceLoopHandling.Ignore })));
    </script>
}