@using System.Collections;
@using System.Collections.Generic;
@using Newtonsoft.Json;
@using System.Collections;
@model HiLToysViewModel.ProductViewModel
@{
    ViewBag.Title = "Product Detail";

    ArrayList productDetails = new ArrayList();

    foreach (var item in Model.Products)
    {
        if (item.ProductID > 0)
        {
            var cartDetail = new
            {
                ProductID = item.ProductID.ToString(),
                ProductName = item.ProductName,
                UnitPrice = item.UnitPrice,
                SupplierID = item.SupplierID,
                CategoryID = item.CategoryID,
                QuantityPerUnit = item.QuantityPerUnit,
                UnitsInStock = item.UnitsInStock,
                UnitsOnOrder = item.UnitsOnOrder,
                ReorderLevel = item.ReorderLevel,
                Discontinued = item.Discontinued,
                Description = item.Description,
             ImagePath=  item.ImagePath
           };

            productDetails.Add(cartDetail);
        }
    }
}

<section id="PeepsForm">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td style="width:10%; height:25px"><span id="dProductID">Product Id:</span></td>
            <td style="width:10%; height:25px"><span id="ProductID">Product Id</span></td>
       </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dProductName">Product name:</span></td>
            <td style="width:10%; height:25px"><span id="ProductName">Product name</span></td>
        </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dSupplierID">SupplierID:</span></td>
            <td style="width:10%; height:25px"><span id="SupplierID" style=" height:25px; width:48px; text-align:right;">SupplierID</span></td>
        </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dCategoryID">CategoryID:&nbsp;</span></td>
            <td style="width:10%; height:25px"><span id="CategoryID" style=" height:25px; width:48px; text-align:right;">CategoryID</span></td>
        </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dUnitPrice">UnitPrice:&nbsp;</span></td>
            <td style="width:10%; height:25px"><span id="UnitPrice" style=" height:25px; width:48px; text-align:right;"></span></td>
        </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dQuantityPerUnit">QuantityPerUnit:&nbsp;</span></td>
            <td style="width:10%; height:25px"><span id="QuantityPerUnit" style=" height:25px; width:48px; text-align:right;"></span></td>
        </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dUnitsInStock">UnitsInStock:&nbsp;</span></td>
            <td style="width:10%; height:25px"><span id="UnitsInStock"></span></td>
        </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dUnitsOnOrder">UnitsOnOrder:&nbsp;</span></td>
            <td style="width:10%; height:25px"><span id="UnitsOnOrder"></span></td>
        </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dReorderLevel">ReorderLevel:&nbsp;</span></td>
            <td style="width:10%; height:25px"><span id="ReorderLevel"></span></td>
        </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dDiscontinued">Discontinued:&nbsp;</span></td>
            <td style="width:10%; height:25px"><span id="Discontinued"></span></td>
        </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dDescription">Description:&nbsp;</span></td>
            <td style="width:10%; height:25px"><span id="Description"></span></td>
        </tr>
        <tr>
            <td style="width:10%; height:25px"><span id="dQuantity">Quantity:&nbsp;</span></td>
            <td style="width:10%; height:25px"><span id="NewQuantity"><input type="text" id="txtNewQuantity" style="width: 50px" /></span></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td style="width:10%; height:25px"><span id="Newaddtocart"><input id="addtocart" type="button" value="Add To Cart" /></span></td>
        </tr>
    </table>
</section>
    <section id="PeepsList">

        <!--====== Container ======-->
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
            <tr>
                <td style="width:10%; height:25px"></td>
                <td style="width:10%; height:25px"></td>
                <td style="width:10%; height:25px"></td>
            </tr>
            <tbody data-bind='template: {name: "CartDetailTemplate", foreach:LineItems}'> </tbody>
        </table>

        <!--====== Template ======-->
        <script type="text/html" id="CartDetailTemplate">

            <tr>
                <td>
                    <div style="width:25px; float:left"><img data-bind="attr:{src:ImagePath},event:{click:$parent.DetailLineItem($data)}" /></div>
                </td>
                <td></td>
                <td></td>
                <td></td>


                <td><div data-bind="text: ProductID "></div></td>

                <td>


                    <div data-bind="text: ProductName "></div>
                    <div style="clear:both;"></div>

                    <div style="float:left; height:25px; width:48px; text-align:left;" class="field-label">Price:</div>
                    <div data-bind="text: UnitPrice"></div>
                    <div style="clear:both;"></div>
                    <div style="float:left; height:25px; width:50px; text-align:right;" class="field-label">Quantity:&nbsp;</div>
                    // <div>&nbsp; <input type="text" data-bind="value: Quantity,valueUpdate:'input'" style="width: 50px" /></div>
                    <div style="clear:both;"></div>

                    <div data-bind="visible: DisplayCancelSaveButtons">
                        <div style="width:25px; float:left"><img alt="save" data-bind="click: function() { viewModel.AddLineItem($data) }" title="Save item" src="@Url.Content("~/Content/Images/icon-floppy.gif")" /></div>
                    </div>
                </td>

            </tr>

        </script>

        <div id="MessageBox" data-bind="html: MessageBox"></div>
        <div id="DeleteConfirmationText"></div>

        <div id="cart-status">
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </section>

    @section scripts{
        @Scripts.Render("~/bundles/jqueryui")
        <script src="~/Scripts/knockout-3.1.0.js"></script>
        <script src="~/Scripts/knockout.mapping-latest.js"></script>
        <script src="~/Scripts/Store/Product.js"></script>
        @Styles.Render("~/Content/Site.css")
        <script type="text/javascript">
            viewModel.IntializeLineItem(@Html.Raw(JsonConvert.SerializeObject(productDetails, new JsonSerializerSettings { ReferenceLoopHandling = ReferenceLoopHandling.Ignore })));
        </script>
    }
