@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    @*<ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>*@
    <div style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #BDBDBD; text-decoration: none; line-height: 22px;">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })&nbsp;<div><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></div> </div>
    }
}
else
{

    @*<div style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #BDBDBD; text-decoration: none; line-height: 22px;">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&nbsp;<div>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div> </div>*@

   <div style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #BDBDBD; text-decoration: none; line-height: 22px;">We are waiting you ! </div>    
     

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}