@model HiLToysViewModel.CheckoutViewModel
@{
    ViewBag.Title = "CheckoutComplete";
}

@*<h1>Checkout Completion</h1>
<p>
    <em>Congratulations! Your payment confirmation number is:</em>
    @Model.PayementConfirmationNo
 </p>

<p>
    How about shopping for some more product in our
    @Html.ActionLink("store", "Index", "Store")
</p>*@
<!-- slider-holder -->
<div class="slider-holder">

    <!-- slider -->
    <div class="slider">
        

        <div class="arrs">
            <a href="#" class="prev-arr"></a>
            <a href="#" class="next-arr"></a>
        </div>

        <ul>
            <li id="img1">
                <div class="slide-cnt">
                    <h4>Heading Title Goes</h4>
                    <h2>Congratulations! Your payment confirmation number is:</h2>
                    <p>@Model.PayementConfirmationNo</p>
                    <p>
                        How about shopping for some more product in our
                        @Html.ActionLink("store", "Index", "Store")
                    </p>
                </div>
                <img src="/Content/Retina/css/images/mac-img.png" alt="" />
            </li>

            <li id="img2">
                <div class="slide-cnt">
                    <h4>Heading Title Goes</h4>
                    <h2>Congratulations! Your payment confirmation number is:</h2>
                    <p>@Model.PayementConfirmationNo</p>
                    <p>Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a></p>
                    <p>
                        How about shopping for some more product in our
                        @Html.ActionLink("store", "Index", "Store")
                    </p>
                 </div>
                <img src="/Content/Retina/css/images/mac-img.png" alt="" />
            </li>

            <li id="img3">
                <div class="slide-cnt">
                    <h4>Heading Title Goes</h4>
                    <h2>Congratulations! Your payment confirmation number is:</h2>
                    <p>@Model.PayementConfirmationNo</p>
                    <p>Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a></p>
                    <p>
                        How about shopping for some more product in our
                        @Html.ActionLink("store", "Index", "Store")
                    </p>
                 </div>
                <img src="/Content/Retina/css/images/mac-img.png" alt="" />
            </li>

            <li id="img4">
                <div class="slide-cnt">
                    <h4>Heading Title Goes</h4>
                    <h2>Congratulations! Your payment confirmation number is:</h2>
                    <p>@Model.PayementConfirmationNo</p>
                    <p>Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a></p>
                    <p>
                        How about shopping for some more product in our
                        @Html.ActionLink("store", "Index", "Store")
                    </p>
                </div>
                <img src="/Content/Retina/css/images/mac-img.png" alt="" />
            </li>

            <li id="img5">
                <div class="slide-cnt">
                    <h4>Heading Title Goes</h4>
                    <h2>Congratulations! Your payment confirmation number is:</h2>
                    <p>@Model.PayementConfirmationNo</p>
                    <p>Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a></p>
                </div>
                <img src="/Content/Retina/css/images/mac-img.png" alt="" />
            </li>

            <li id="img6">
                <div class="slide-cnt">
                    <h4>Heading Title Goes</h4>
                    <h2>Congratulations! Your payment confirmation number is:</h2>
                    <p>@Model.PayementConfirmationNo</p>
                    <p>Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a></p>
                </div>
                <img src="/Content/Retina/css/images/mac-img.png" alt="" />
            </li>

            <li id="img7">
                <div class="slide-cnt">
                    <h4>Heading Title Goes</h4>
                    <h2>Congratulations! Your payment confirmation number is:</h2>
                    <p>@Model.PayementConfirmationNo</p>
                    <p>Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a></p>
                </div>
                <img src="/Content/Retina/css/images/mac-img.png" alt="" />
            </li>

            <li id="img8">
                <div class="slide-cnt">
                    <h4>Heading Title Goes</h4>
                    <h2>Congratulations! Your payment confirmation number is:</h2>
                    <p>@Model.PayementConfirmationNo</p>
                    <p>Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a></p>
                </div>
                <img src="/Content/Retina/css/images/mac-img.png" alt="" />
            </li>
        </ul>
    </div>
    <!-- end of slider -->
    <!-- thumbs -->
    <div id="thumbs-wrapper">
        <div id="thumbs">
            <a href="#img1" class="selected"><img src="/Content/Retina/css/images/thumb.png" /></a>
            <a href="#img2"><img src="/Content/Retina/css/images/thumb2.png" /></a>
            <a href="#img3"><img src="/Content/Retina/css/images/thumb3.png" /></a>
            <a href="#img4"><img src="/Content/Retina/css/images/thumb4.png" /></a>
            <a href="#img5"><img src="/Content/Retina/css/images/thumb.png" /></a>
            <a href="#img6"><img src="/Content/Retina/css/images/thumb2.png" /></a>
            <a href="#img7"><img src="/Content/Retina/css/images/thumb3.png" /></a>
            <a href="#img8"><img src="/Content/Retina/css/images/thumb4.png" /></a>
        </div>
        <a id="prev" href="#"></a>
        <a id="next" href="#"></a>
    </div>
    <!-- end of thumbs -->
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")">
    </script>
    @Scripts.Render("~/bundles/Retinajs")
}